*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: 'STIX Two Text', serif;
}
section{
	position: relative;
	width: 100%;
	min-height: 100vh;
	padding: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-x: hidden;
}

.bg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height:100% ;
	background-image: url("back3.jpeg");

}
.bg::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-image: url("back3.jpeg");

}
header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 25px 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
header .logo{
	position: relative;
	font-weight: 600;
	color: Black;
	text-decoration: none;
	font-size: 2em;
	padding: 8px;


}
header .logo:hover{
	background: white;
	color: black;
	display: inline-block;
	color: black;
	font-size: 2em;
	font-weight: 600;
	
	border-radius: 40px;
	text-decoration: none ;
}
header .navbar{
	position: relative;
	display: flex;

}
header .navbar li{
	list-style: none;

}
header .navbar li a{
	display: inline-block;
	color: black;
	font-size: 20px;
	font-weight: 400;
	margin-left: 10px ;
	padding: 8px 15px;
	border-radius: 40px;
	text-decoration: none ;
}
header .navbar li a.active,
header .navbar li a:hover{
	  background: ghostwhite;
	  color: black;
	  text-decoration: underline;

}
.content{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	text-align: center;

}
.content .textbox{
	position: relative;
	max-width: 600px;
	margin: 90px;

}
.textbox .imgbox{
	position: relative;
	z-index: 1 ;
    width: 400px;
    display: flex;
    justify-content: center;
}

.content img{
	max-width: 600px;
}
.content .textbox h2{
	color: black;
	font-size: 4em;
	line-height: 1em;
	font-weight: 700;
	
}
.content .textbox p{
	color: black;
	margin-top: 40px;
}
.btn41-43 {
	padding: 10px 25px;
	font-family: "Roboto",sans-serif;
	font-weight: 500;
	font-size: 20px;
	background: transparent;
	outline: none !important;
	cursor: pointer;
	transform: all 0.3s ease;
	position: relative;
	display: inline-block;
	margin-top:20px ;
}
.btn-41{
	border: 5px solid rgb(255, 255, 255);
	z-index: 1;
	color: white;
}
.btn-41:after{
	position: absolute;
	content: "";
	width: 0;
	height: 100%;
	top: 0;
	left: 0;
	direction: rtl;
	z-index: -1;
	background: rgb(255,255,255);
	transition: all 0.3s ease;
}
.btn-41:hover{
	color: rgb(0, 0, 0);
}
.btn-41:hover:after{
	left: auto;
	right: 0;
	width: 100%;

}
.btn-41:active{
	top: 2px;
}
.pictures{
	position: absolute;
	left: 50%;
	bottom: 20px;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
	overflow-y: hidden;
}
.pictures li{
	list-style: none;
	display: inline-block;
	margin: 0 10px;
	cursor: pointer;
	transition: 0.5s;
	height: 70px;
	width: 70px;
	background: grey;
	padding: 5px;
	border: 2px solid grey;
	border-radius: 50%;
}
.pictures li img{
	max-width: 40px;
	opacity: 0.8;
	overflow: hidden;
	align-content: center;
}
.socialmedia{
	height: 400px;
	width: 90px;
	position: absolute;
	left: 0;
	top: calc(50% - 200px);
	background: grey;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 50px 50px;
}
.socialmedia a{
	text-decoration: none;
}
.socialmedia a i{
	height: 50px;
	width: 50px;
	border-radius: 5px;
	margin: 5px 0;
	display: grid;
	place-items: center;
	background: black;
	color: white;
	font-size: 20px;
	cursor: pointer;
}
